.container {
	background: white;
	padding: 2em 2em 1em;
	max-width: 500px;
	position: relative;
	margin-left: 10%;
	/*covers nav box shadow*/
	z-index: 3;
}

.contentContainer {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas: "name img" "about about";
	position: relative;
}

.businessImg {
	border-radius: 50%;
	object-fit: cover;
	height: 150px;
	position: absolute;
	top: -30px;
	right: 10px;
	width: 150px;
}

.businessName {
	font-size: 2.5rem;
	line-height: 1.25;
	margin-top: .25em;
}
.businessAbout {
	margin: 1em 0 0;
	padding: 1em 0;
	border-top: 1px solid var(--accent-color);
	border-bottom: 1px solid var(--accent-color);
	grid-area: about;
}

/*center at break*/
@media (max-width: 700px) {
	.container {
		margin: auto;
		max-width: 85%;
	}
	/*fix img position*/
	.businessImg {
		height: 125px;
		top: 0px;
		width: 125px;
	}
	.businessAbout{
		width: max-content;
	}
}
/*change to column when small*/
@media (max-width: 450px) {
	.contentContainer {
		grid-template-areas: "img" "name" "about";
		grid-template-columns: 1fr;
		text-align: center;
	}
	/*centre image below name*/
	.businessImg {
		position: static;
		margin: auto;
	}
}
