.inputContainer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
    width: 100%;
}
.inputContainer:last-child{
    margin-bottom: 0;
}

.input {
    border: none;
    background: var(--white);
    border-bottom: 2px solid var(--gray);
    margin-left: .5rem;
    opacity: .9;
    text-align: right;
    transition: border .25s;
    flex-grow: 2;
}

.input:focus{
    border-bottom: 2px solid var(--accent-color);
    outline: none;
}

input[type=file]:focus {
    border-bottom: 2px solid var(--gray);
}