.profileContainer {
  background-color: var(--accent-color);
}

@media (max-width: 600px) {
  .profileContainer {
    padding: 0 2rem;
    margin: 0px;
  }
}
@media (max-width: 300px) {
  .profileContainer {
    padding: 0 .25rem;
  }
}