.currentProductsContainer {
    list-style: none;
    font-weight: 300;
}
.currentProductsContainer h2 {
    text-align: left;
    text-decoration: underline;
}

.currentProduct {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    margin-bottom: .5rem;
}

.currentProductsContainer span {
    text-align: left;
}