
.productContainer {
    border-bottom: 1px solid var(--gray);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

