.navFlex {
  /*always at top*/
  grid-area: header;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0;
  padding: 0.75rem 3rem 1rem;
  width: 100%;
  z-index: 2;
}
.linkFlex h1 {
  font-size: 1.75rem;
}

.linkFlex {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.links {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  position: relative;
}

.links:visited {
  color: inherit;
  opacity: 0.8;
  text-decoration: none;
}
/*for hover effect*/
.links::before {
  background: var(--accent-color);
  bottom: -1px;
  content: "";
  height: 2px;
  position: absolute;
  transition: width 0.25s ease-in-out;
  width: 0%;
}
.links:hover::before {
  width: 100%;
}
.active {
  color: var(--accent-color) !important;
}

@media (max-width: 768px) {
  .linkFlex {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .links {
    margin: 0.25em 0;
  }
  .linkFlex h1 {
    margin: 0.5rem 0;
  }
}
