.main {
  position: absolute;
  top: 0;
  left: 0;
}
.main div {
  border-radius: 5px;
  max-width: fit-content;
  font-family: var(--main-font-family);
  color: var(--black);
  font-weight: 900;
  background-color: var(--white);
  border: 3px solid var(--accent-color);
}

.content {
  padding: 5px 50px;
}
