.footerFlex {
  border-top: 3px solid var(--black);
  width: 100%;
  background-color: var(--accent-color);
  color: var(--white);
  padding: 1rem 3rem;
  /*always on bottom*/
  grid-area: footer;
}
.contentFlex {
  display: flex;
  justify-content: space-between;
}

/*center with two columns*/
@media (max-width: 500px) {
  .contentFlex{
    flex-direction: column;
    align-items: center;
  }
}