:root {
  --accent-color: #ff5a5f;
  --white: #f1f1f1;
  --black: #1e1e24;
  --gray: #7d7d7e;
  --main-font-family: Roboto;
}

* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}
