:root {
  --accent-color: #FF5A5F;
  --white: #F1F1F1;
  --black: #1E1E24;
  --gray: #E0E1E8;
  --main-font-family: Roboto;
}

* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
}
