.callToSignUp {
	margin: 2rem auto 1rem;
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	width: 100%;
}

.callToSignUp button {
	color: var(--white);
	background: var(--accent-color);
}
.callToSignUp button:hover {
	color: var(--accent-color);
	background: var(--white);
}