
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  padding: 1rem 4rem;
}
.profileContainer {
  background-color: var(--accent-color);
}
